body{
    /* background-image: url("../images/plantBackground.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; */
    font-family: 'Playfair Display', serif;
   
} 

.jumbotron{
    text-align: center;
    /* color: white; */
    background-image: url("../images/diamondPattern.jpg");
}

.listTitle{
    background-color: white;
    border-radius: 10px;
    
     /*Stackover credit for below text-shadwo: https://stackoverflow.com/questions/4919076/outline-effect-to-text" */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.allTaskHolder{
    /* border: 2px solid; */
    padding: 5px;
}

input{
    margin-top: 5px;
}
#clearAll{
    font-weight: bold;
}

.taskContainer{
    overflow: auto;
    height: 300px;
    border-left: black;
    padding: 20px;
   
}

.inputTask{
    width:300px;
}

#cannotBlank{
    display: none;
    color: red;
}


span{
   display: inline-block;
   margin-bottom: 10px;
}

.deleteTask{
    float: right;
    border-radius: 3px;
    background-color: white;
}
.taskRow{
    border: 2px dotted;
    padding: 10px;
}

::-webkit-scrollbar {
    border: 2px solid;
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: black; 
  }

footer{
    text-align: center;
}
