body{
    /* background-image: url("../images/plantBackground.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; */
    font-family: 'Playfair Display', serif;
} 

.jumbotron, footer{
    text-align: center;

}
.allTaskHolder{
    /* border: 2px solid; */
    padding: 5px;
}

input{
    margin-top: 5px;
}
#clearAll{
    font-weight: bold;
}

.taskContainer{
    overflow: auto;
    height: 300px;
    border-left: black;
    padding: 20px;
   
}

.inputTask{
    width:300px;
}

#cannotBlank{
    color: red;
}


span{
   display: inline-block;
   margin-bottom: 10px;
}

.deleteTask{
    float: right;
    border-radius: 3px;
    background-color: white;
}
.taskRow{
    border: 2px dotted;
    padding: 10px;
}

::-webkit-scrollbar {
    border: 2px solid;
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: black; 
  }


