/* body{
    background-image: url("../images/plantBackground.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
} */

/* .jumbotron{
    background-color: ;
} */
.allTaskHolder{
    /* border: 2px solid; */
    padding: 5px;
}

input{
    margin-top: 5px;
}
#clearAll{
    font-weight: bold;
}

.taskContainer{
    overflow: auto;
    height: 300px;
    border-left: black;
    padding: 20px;
   
}

.inputTask{
    width:300px;
}

#cannotBlank{
    color: red;
}


span{
   display: inline-block;
   margin-bottom: 10px;
}

.deleteTask{
    float: right;
}
.striked{
    text-decoration: line-through;
}

.col-md-8{
    border: 2px dotted;
}
.taskContainer{
    border: 2px solid;
}